$backgroundColor:#91c5e7;
$cardNavBgColor:#171b20;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

$bodyFont:'Amatic SC', cursive;
$pFont:'Hubballi', cursive;